<h1>
  {{title}}
</h1>
<div class="open" [gptranslate]="'OPEN'"></div>
<div [gptranslate]>CLOSE</div>
<div gptranslate>CLOSE</div>
<div [gptranslate] lang="llk">EDIT</div>
<div [gptranslate] lang="qru">EDIT</div>
<div [gptranslate] lang="en" bundle="bundle2">SAVE</div>
<div gptranslate="TEMPLATE" [formatparams]="{basic:'basic check'}"></div>
<div gptranslate="TEMPLATE" bundle="bundle2" [formatparams]="{basic:'{param}'}"></div>
<feature1></feature1>
<div>{{"SAVE" | gptranslate:'en':'bundle2':'www' }}</div>
<!--<div gptranslate="A" lang="en"></div>
<div>{{"A"}}<p>water</p></div>
<div gptranslate="C"></div>
<div gptranslate="view2_a" bundle="test" lang="en"></div>
<div gptranslate="view2_b" bundle="test" lang="en"></div>

-->
